* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2efef;
  color: #19181d;
  font-family: "Lato", sans-serif;
}
.fourth,
.third,
.second,
.first,
.heroBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fourth {
  background-image: url(assets/images/1.jpg);
}
.first {
  background-image: url(assets/images/2.jpg);
}
.second {
  background-image: url(assets/images/3.jpg);
}
.third {
  background-image: url(assets/images/4.jpg);
}
.dd:hover .ff {
  display: flex;
}
.heroBg {
  background-image: url(assets/images/hero5.jpg);
}
.footerInfoContainer li {
  margin-bottom: 10px;
  text-transform: capitalize;
}
.carousel-button-group {
  position: absolute;
  bottom: -80px;
  left: 45%;
  z-index: 50;
}

.tabs-img {
  object-fit: cover;
}

.tab-box:hover .img-layer {
  display: flex;
}
.swiper-scrollbar-drag {
  background-color: #f2efef !important;
}
